.title{
    border-bottom: 1px solid grey;
}
.recorder{
    max-height: 85vh !important;
    overflow-y: auto !important;
}
.meetingData{
    display: flex;
    gap:1rem;
    .meetingDataItem{
        padding:0.5rem;
        min-width:10rem;
    }
    .meetingDataItemParticipantsWrapper{
        flex-basis: 80%;
        .meetingDataItemParticipants{
            display: flex;
            gap:1rem;
            flex-flow: row wrap;
            .participantChip{
                flex-basis: 7%;
            }
        }
    }   
   
}
.momentTime{
    padding:0.5rem 1rem;
    border:1px solid grey;
    border-radius: 4px;
}

@media screen and (max-width: 1400px) {
    .wrapperBox{
        // height:unset !important
    }
}