.dialogFooter{
    padding:1rem;
    display: flex;
    justify-content: flex-start;

    .logoImg{
        width:10rem
    }
   
}

.transcriptionImageWrapper{
    display: flex-start;
    align-items: flex-end;
    justify-content: center;
    .transcriptionImage{
        width:10rem;
    }
}