.rightFormPanelWrapper{
    .inputText{
        label{
            transform-origin: right !important;
            left: inherit !important;
            right: 1.75rem !important; 
            line-height: 3;
        }
    }

}
.leftFormPanelWrapper{
    padding:1.5rem 1rem;
    .title{
        border-bottom: 1px solid grey;
    }
    .newParticipantInput{
        display: flex;
        gap:1rem;
    }
    .addParticipantButton{
        align-self: end;
        height:3.5rem;
    }
    .participantsList{
        padding: 1rem 0rem;
        .participantsListItem{
            display: flex;
            grid-template-columns: 1fr 1fr 1fr auto;
            gap:1rem;
            padding: 0.5rem 0rem;
            & .participantsListItemContent{
                display: grid;
                grid-template-columns: 1fr auto 1fr;
                gap: 1rem;
                flex-basis: 30%;
            }
        }
    }
    .inputText{
        label{
            // transform-origin: right !important;
            // left: inherit !important;
            // right: 1.75rem !important; 
            line-height: 3;
        }
    }
}

@media screen and (max-width: 1200px) {
    .responsiveBox{
        grid-template-columns:  repeat(1,1fr) !important;
    }
    .cardWrapper{
        height: unset !important;
    }
}
